@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0f172a;
  border-left: 1px solid #1e293b;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  border: 2px solid #0f172a;
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

.custom-scrollbar::-webkit-scrollbar-corner {
  background: #0f172a;
}

